.blog {
    padding-top: 5px;
    padding-left: 5px;
    border: solid 2px;
    border-width: 2px;
    margin-bottom: 5px;
}

.blog-tittle-author {
    font-weight: bold;
}

.blog-details {
    margin-top: 10px;
    color: gray;    
}