.notification {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 400px;
    z-index: 1000;
    font-weight: bold;
  }
  
  .notification-error {
    background-color: gainsboro;
    border: 3px solid red;
    color: red;
  }
  
  .notification-success {
    background-color: gainsboro;
    border: 3px solid green;
    color: green;
  }
  